<main class="lista-vacantes">
    <h2>Lista de Vacantes</h2>

    <div class="vacante">
        <div class="caja">
            <h3>Facebook</h3>
            <p class="puesto">asdasdas</p>
        </div>
        <div class="caja">
            <p class="etiqueta">ubica</p>
            <p class="nombre">Reasda</p>
        </div>
        <div class="caja">
            <p class="etiqueta">asdas</p>
            <p class="nombre contrato">asdasd</p>
        </div>
        <div class="caja centrar-vertical">
            <a href="#" class="btn btn-verde">+ info</a>
        </div>
    </div>
</main>